i[Unit]
Description=Python Kiosk
After=network.target

[Service]
Environment=SDL_FBDEV=/dev/fb0
#Environment=SDL_AUDIODRIVER=alsa
Environment=SDL_MOUSEDRV=TSLIB
Environment=SDL_MOUSEDEV=/dev/input/by-id/usb-WaveShare_WS170120_220211-event-if00
Environment=TSLIB_TSEVENTTYPE=INPUT
Environment=TSLIB_CONSOLEDEVICE=/dev/tty1
Environment=TSLIB_FBDEVICE=/dev/fb0
Environment=TSLIB_TSDEVICE=/dev/input/by-id/usb-WaveShare_WS170120_220211-event-if00
Environment=TSLIB_CALIBFILE=/etc/pointercal
Environment=TSLIB_CONFFILE=/etc/ts.conf
Type=simple
User=kioskadm
WorkingDirectory=/home/kioskadm/DomPi
ExecStartPre=/usr/bin/clear
ExecStartPre=/usr/bin/pulseaudio --start
ExecStart=/bin/sh -c "/usr/bin/nohup /home/kioskadm/DomPi/.venv/bin/python3 kiosk.py >/home/kioskadm/kiosk.log"
ExecStopPost=/usr/bin/pulseaudio --kill
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
KillSignal=2

[Install]
WantedBy=multi-user.target
