i[Unit]
Description=Python Kiosk
After=network.target

[Service]
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=SDL_AUDIODRIVER=pulseaudio
Type=simple
User=kioskadm
WorkingDirectory=/home/kioskadm/DomPi
ExecStart=/usr/bin/wayfire

[Install]
WantedBy=multi-user.target
